 <link href="https://fonts.googleapis.com/css?family=Oswald|PT+Sans" rel="stylesheet" />
 <link media="all" rel="stylesheet" type="text/css" href="http://oljefri.no/themes/energismart/style.css?1.17" data-ctbrowsertype="firefoxdesktop">
<style>
  body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
}

</style>