.BottomButtons {
  display: flex;
  x-width: 100%;
  justify-content: space-between;
}

.BottomButtons-next {
  display: block;
}

.BottomButtons-button {
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  width: auto;
  line-height: 1;
  margin-top: 1rem;
  width: 100%;
  max-width: 450px;
  border-radius: 3px;
}
.BottomButtons-button:hover {
  opacity: 0.8;
}
.BottomButtons-button-next {
  background-color: #5983a3;
  color: #fff;
  border-top: 2px solid #1a1a1a;
  padding: 0.9em 1.2em 0.8em 1.2em;

  font-size: 1.2em;

  cursor: pointer;
}

.BottomButtons-error {
  padding: 10px 0;
  font-size: 1.2rem;
  color: red;
  text-align: center;
}

.BottomButtons-prev {
  x-font-size: 0.8em;

  background-color: rgba(159, 196, 222, 0.32);
  border-top: 2px solid #98c0dc;
  color: #383838;
  padding: 0.9em 1.2em 0.8em 1.2em;
  margin-right: 2rem;
}

@media screen and (max-width: 700px) {
  .BottomButtons {
    flex-direction: column;
    align-items: center;
  }
  .BottomButtons-prev {
    order: 2;
    margin-right: 0;
    height: 53px;
  }
}
