<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energismart.no</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="images/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="images/manifest.json">
  <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#57aa16">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="images/mstile-144x144.png">
  <meta name="theme-color" content="#57aa16">
  <% if (htmlWebpackPlugin.options.dev) { %>
    <script src="http://localhost:<%= htmlWebpackPlugin.options.port %>/webpack-dev-server.js"></script>
  <% } %>
  </head>
  <body>

  <header>
    <div class="row">
      <div class="medium-6 large-4 columns">
          <div class="logo"><a href="#"><img src="images/energismart-logo.svg" alt="Energismart.no" /></a></div>
      </div>
      <div class="medium-6 large-4 columns">
        <div id="searchfield" class="input-group">
          <input class="input-group-field" type="text" placeholder="Søk..">
          <div class="input-group-button">
            <div class="button"><svg class="svg-icon" viewBox="0 0 20 20"><path fill="none" d="M19.129,18.164l-4.518-4.52c1.152-1.373,1.852-3.143,1.852-5.077c0-4.361-3.535-7.896-7.896-7.896
                c-4.361,0-7.896,3.535-7.896,7.896s3.535,7.896,7.896,7.896c1.934,0,3.705-0.698,5.078-1.853l4.52,4.519
                c0.266,0.268,0.699,0.268,0.965,0C19.396,18.863,19.396,18.431,19.129,18.164z M8.567,15.028c-3.568,0-6.461-2.893-6.461-6.461
                s2.893-6.461,6.461-6.461c3.568,0,6.46,2.893,6.46,6.461S12.135,15.028,8.567,15.028z"></path></svg></div>
          </div>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="logo naturvernforbundet"><a href="#"><img src="images/naturvernforbundet-logo.svg" alt="Naturvernforbundet" /></a></div>
      </div>
      </div>
    </div>

    <div class="navigation-wrapper">
      <div class="row">
        <div class="medium-12 columns">
          <nav class="primary">
            <ul>
              <li><a>Energismarte produkter</a>
                <ul class="sub-menu">
                  <li><a href="#">Kategori</a>
                  <ul class="sub-menu">
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                  </ul>
                </li>
                  <li><a href="#">Kategori</a>
                  <ul class="sub-menu ">
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                  </ul>
                  </li>
                </ul>
              </li>
              <li><a>Finn støtteordninger</a>
                <ul class="sub-menu subpage-active-onload">
                  <li><a href="#">Kontakt oss</a>
                  <ul class="sub-menu">
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                  </ul>
                </li>
                  <li><a href="#">Kategori</a>
                  <ul class="sub-menu">
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                  </ul>
                  </li>
                </ul>
              </li>
              <li><a>Få energitips</a>
                <ul class="sub-menu">
                  <li><a href="#">Kategori</a>
                  <ul class="sub-menu">
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                  </ul>
                </li>
                  <li><a href="#">Kategori</a>
                  <ul class="sub-menu">
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                    <li><a href="#">Subkategori</a></li>
                  </ul>
                  </li>
                </ul>
              </li>
              <li><a>For bedrifter/boretslag</a>
              <li><a>Om oss</a>
            </ul>
          </nav>

          <button id="show-hide-nav-btn" class="hamburger hamburger--htx hide-for-large-up">
            <span>Meny</span>
          </button>
        </div>
      </div>
    </div>
  </header>

<div class="introblock" style="background-image: url(images/dev/testtopbanner001.jpg);">
  <div class="row">
    <div class="large-6 columns">
      <h1>Energismart hjelper privatpersoner og bedrifter å finne energismarte <a href="#">produkter</a> og <a href="#">løsninger</a>. Bedre økonomi og miljø!</h1>
    </div>
  </div>
</div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="productselect">
        <div class="row medium-collapse">
          <div class="medium-6 columns left">
            <h3><span>Bytt til</span> energismarte produkter</h3>
            <div class="button-group">
              <a class="button secondary">Oppvaskmaskin</a>
              <a class="button secondary">Vaskemaskin</a>
              <a class="button secondary">Kjøl og frys</a>
              <a class="button secondary">Tørketrommel</a>
              <a class="button secondary">TV</a>
              <a class="button secondary">LED-pærer</a>
            </div>
          </div>
          <div class="medium-6 columns right">
            <h3><span>Få en</span> energismart bolig</h3>
            <div class="button-group">
              <a class="button secondary">Bytte oljefyr</a>
              <a class="button secondary">Spare strøm</a>
              <a class="button secondary">Spare penger</a>
              <a class="button secondary fullw">Skaffe energieffektive produkter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns" data-schemaurl="">

      <div class="qualityassuredform" id="showform" data-schemaurl="">
        <h3><span>Få uforpliktende tilbud fra</span> kvalitetssikrede <span>bedrifter som hjelper deg med å</span> spare støm og penger</h3>
              <div class="" id="form_step_1">
        <div class="row">
          <div class="medium-6 columns">
            <h4>Vil du spare strøm, installere fornybar oppvarming eller fjerne oljetanker?</h4>
            <p>Ja, jeg vil finne <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Vi har godkjente bedrifter på bakgrunn av økonomi, referanser og formell kompetanse for å gjøre det tryggere for deg.">kvalitetssikrede</span> bedrifter som kan hjelpe meg!</p>
          </div>
          <div class="medium-6 columns">
            <div class="input-group">
              <input class="input-group-field postnumber" id="postnummer" type="text" placeholder="Ditt postnummer">
                <div class="input-group-button">
                  <input type="submit" id="go_to_step_2" class="button" value="Søk »">
                </div>
              </input>
            </div>
          </div>
        </div>
      </div>

      <div class="" id="form_step_2">
        <h5>Vi har 26 bedrifter i ditt område</h5>
        <h4>Jeg vil (velg tjeneste): <span style="color: red;">*</span></h4>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Redusere energibehovet/spare energi <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>

            <div class="subcat_level1" id="checkbox1_subcat" style="padding-left: 1em;">
              <input id="checkbox1_1" type="checkbox"><label for="checkbox1_1">Energirådgivning <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
              <input id="checkbox1_2" type="checkbox"><label for="checkbox1_2">Termografering <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
              <input id="checkbox1_3" type="checkbox"><label for="checkbox1_3">Etterisolering <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
            </div>

          <input id="checkbox2" type="checkbox"><label for="checkbox2">Få fornybar oppvarming <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>

            <div class="subcat_level1" id="checkbox2_subcat" style="padding-left: 1em;">
              <input id="checkbox2_1" type="checkbox"><label for="checkbox2_1">Varmepumpe <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>

                <div class="subcat_level2" id="checkbox2_1_subcat" style="padding-left: 2em;">
                  <input id="checkbox2_1_1" type="checkbox"><label for="checkbox2_1_1">Luft-luft varmepumpe <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
                  <input id="checkbox2_1_2" type="checkbox"><label for="checkbox2_1_2">Luft-vann varmepumpe <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
                  <input id="checkbox2_1_3" type="checkbox"><label for="checkbox2_1_3">Bergvarmepumpe (væske-vann) <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
                </div>

              <input id="checkbox2_2" type="checkbox"><label for="checkbox2_2">Pelletskamin <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
              <input id="checkbox2_3" type="checkbox"><label for="checkbox2_3">Pelletskamin med vannkappe <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
              <input id="checkbox2_4" type="checkbox"><label for="checkbox2_4">Pelletskjel <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
              <input id="checkbox2_5" type="checkbox"><label for="checkbox2_5">Vedovn <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
              <input id="checkbox2_6" type="checkbox"><label for="checkbox2_6">Vedovn <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
              <input id="checkbox2_7" type="checkbox"><label for="checkbox2_7">Vedovn med vannkappe <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
              <input id="checkbox2_8" type="checkbox"><label for="checkbox2_8">Vedkjel/Flis <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
              <input id="checkbox2_9" type="checkbox"><label for="checkbox2_9">Solfangere (solvarme) <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>
              <input id="checkbox2_10" type="checkbox"><label for="checkbox2_10">Solceller (solstrøm) <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br>

            </div>

          <input id="checkbox3" type="checkbox"><label for="checkbox3">Rense og fjerne oljetanker <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Forklaring på hva dette er">?</span></label><br><br>

        <a id="go_to_step_3" href="#showform" class="button">Legg til informasjon om byggningen »</a>
        <a id="go_to_step_1" class="button">« Tilbake</a>

        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
          <div class="progress-meter" style="width: 25%">25%</div>
        </div>

      </div>

      <div class="" id="form_step_3">
        <h5>Vi har 4 bedrifter som kan levere tjenestene du ønsker</h5>
        <h4>Informasjon om byggningen:</h4>
        <p>Dette er viktig informasjon, her kan dere putte inn en tekst om hvorfor.</p>
        <br>
        <form>
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Type bygg: <span style="color: red;">*</span></label>
            </div>
            <div class="small-9 columns">
              <select>
                <option value="bygg_1">Enebolig</option>
                <option value="bygg_2">Tomannsbolig/rekkehus</option>
                <option value="bygg_3">Leilighet</option>
                <option value="bygg_4">Boretslag</option>
                <option value="bygg_5">Næringsbygg</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Bygget år: <span style="color: red;">*</span></label>
            </div>
            <div class="small-9 columns">
              <select>
                <option value="bygg_1">Velg byggeår</option>
                <option value="bygg_1">Før 1920</option>
                <option value="bygg_2">1920 - 1950</option>
                <option value="bygg_3">1950 - 1970</option>
                <option value="bygg_4">1970 - 1980</option>
                <option value="bygg_4">1980 - 1997</option>
                <option value="bygg_4">1997 - 2010</option>
                <option value="bygg_4">2010 - </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Areal (m2): <span style="color: red;">*</span></label>
            </div>
            <div class="small-9 columns">
              <select>
                <option value="bygg_1">Velg kvadratmater</option>
                <option value="bygg_2">Under 70 m2</option>
                <option value="bygg_3">70 - 90 m2</option>
                <option value="bygg_4">90 - 120 m2</option>
                <option value="bygg_4">120 - 150 m2</option>
                <option value="bygg_4">150 - 200 m2</option>
                <option value="bygg_4">200 - 250 m2</option>
                <option value="bygg_4">Større enn 250 m2</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              &nbsp;
            </div>
            <div class="small-9 columns">

            <h5>Velg nåværende oppvarming:</h5>


            <input id="checkbox3_1_1" type="checkbox"><label for="checkbox3_1_1">Elektrisistet</label><br>

            <div class="subinfo" id="checkbox3_1_1_subinfo">
              <p><strong>Energiforbruk:</strong></p>
              <div class="row">
                <div class="small-6 columns">
                  <input type="text" id="middle-label" placeholder="">
                </div>
                <div class="small-6 columns">
                  <label for="middle-label" class="middle">kwh</label>
                </div>
              </div>
            </div>

            <input id="checkbox3_1_2" type="checkbox"><label for="checkbox3_1_2">Olje</label><br>

            <div class="subinfo" id="checkbox3_1_2_subinfo">
              <p><strong>Energiforbruk:</strong></p>
              <div class="row">
                <div class="small-6 columns">
                  <input type="text" id="middle-label" placeholder="">
                </div>
                <div class="small-6 columns">
                  <label for="middle-label" class="middle">liter</label>
                </div>
              </div>
            </div>


            <input id="checkbox3_1_3" type="checkbox"><label for="checkbox3_1_3">Parafin</label><br>

            <div class="subinfo" id="checkbox3_1_3_subinfo">
              <p><strong>Energiforbruk:</strong></p>
              <div class="row">
                <div class="small-6 columns">
                  <input type="text" id="middle-label" placeholder="">
                </div>
                <div class="small-6 columns">
                  <label for="middle-label" class="middle">liter</label>
                </div>
              </div>
            </div>


            <input id="checkbox3_1_4" type="checkbox"><label for="checkbox3_1_4">Ved</label><br>

            <input id="checkbox3_1_5" type="checkbox"><label for="checkbox3_1_5">Varmepumpe</label><br>

            <input id="checkbox3_1_6" type="checkbox"><label for="checkbox3_1_6">Annet</label><br>

            <div class="subinfo" id="checkbox3_1_6_subinfo">
              <p><strong>Forbruk/pris:</strong></p>
              <div class="row">
                <div class="small-6 columns">
                  <input type="text" id="middle-label" placeholder="">
                </div>
                <div class="small-6 columns">
                  <label for="middle-label" class="middle"></label>
                </div>
              </div>
            </div>


            <h5>Ytterligere informasjon:</h5>
            <textarea></textarea>


            </div>
          </div>



        </form>

        <a id="go_to_step_4" href="#showform" class="button">Velg bedrifter »</a>
        <a id="go_to_step_2" class="button">« Tilbake</a>
        <br>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
          <div class="progress-meter" style="width: 50%">50%</div>
        </div>
      </div>

      <div class="" id="form_step_4">
        <h4>Velg bedrifter:</h4>

              <select>
                <option value="bygg_1">Sorter på:</option>
                <option value="bygg_2">Tjenester</option>
                <option value="bygg_3">Alfabetisk</option>
                <option value="bygg_4">Nærmest deg</option>
              </select>

        <div class="row small-up-1 medium-up-2 large-up-3">

          <div class="column">
            <input id="checkbox4_1_1" type="checkbox" checked=""><label for="checkbox4_1_1">
            <label>
            <div class="row">
              <div class="small-4 columns">
              <img src="//placehold.it/300x300" class="thumbnail" alt="">
              </div>
              <div class="small-8 columns">
                <h5>Firmanavn</h5>
              <p><strong>Leverer:</strong> <span class="label">Termografering og trykktesting</span> <span class="label">Energirådgivning</span></p>
              </div>
            </label>
            </div>

            <p><a class="button"  data-toggle="panel">Mer om bedriften</a></p>

            <div class="callout" id="panel" data-toggler data-animate="fade-in fade-out" style="display: none;">
              <h4>Firmanavn</h4>
              <p>Energibygg AS ble etablert i 2010 og tilbyr tjenester knyttet til energi i bygg. Våre rådgivere har høy kompetanse innen et bredt fagfelt og kan bidra på mange områder i et prosjekt. Vi har kontor i Oslo, Hamar og Horten med store og små oppdragsgivere fra hele landet. Våre primære tjenester er energirådgivning/-kartlegging, tetthetskontroll og termografering. Vi gjør også mer avansert beregning og simulering av energibruk i nye og eksisterende bygg, samt energimerking. Vi kjennetegnes av profesjonalitet, fleksibilitet og løsningsvilje.</p>
            </div>

          </div>

          <div class="column">
            <input id="checkbox4_1_2" type="checkbox" checked=""><label for="checkbox4_1_2">
            <label>
            <div class="row">
              <div class="small-4 columns">
              <img src="//placehold.it/300x300" class="thumbnail" alt="">
              </div>
              <div class="small-8 columns">
                <h5>Firmanavn</h5>
<p><strong>Leverer:</strong> <span class="label">Termografering og trykktesting</span> <span class="label">Energirådgivning</span></p>
              </div>
            </label>
            </div>

            <p><a class="button" data-toggle="panel2">Mer om bedriften</a></p>

            <div class="callout" id="panel2" data-toggler data-animate="fade-in fade-out" style="display: none;">
              <h4>Firmanavn</h4>
              <p>Energibygg AS ble etablert i 2010 og tilbyr tjenester knyttet til energi i bygg. Våre rådgivere har høy kompetanse innen et bredt fagfelt og kan bidra på mange områder i et prosjekt. Vi har kontor i Oslo, Hamar og Horten med store og små oppdragsgivere fra hele landet. Våre primære tjenester er energirådgivning/-kartlegging, tetthetskontroll og termografering. Vi gjør også mer avansert beregning og simulering av energibruk i nye og eksisterende bygg, samt energimerking. Vi kjennetegnes av profesjonalitet, fleksibilitet og løsningsvilje.</p>
            </div>

          </div>

          <div class="column">
            <input id="checkbox4_1_3" type="checkbox" checked=""><label for="checkbox4_1_3">
            <label>
            <div class="row">
              <div class="small-4 columns">
              <img src="//placehold.it/300x300" class="thumbnail" alt="">
              </div>
              <div class="small-8 columns">
                <h5>Firmanavn</h5>
<p><strong>Leverer:</strong> <span class="label">Termografering og trykktesting</span> <span class="label">Energirådgivning</span></p>
              </div>
            </label>
            </div>


            <p><a class="button" data-toggle="panel3">Mer om bedriften</a></p>

            <div class="callout" id="panel3" data-toggler data-animate="fade-in fade-out" style="display: none;">
              <h4>Firmanavn</h4>
              <p>Energibygg AS ble etablert i 2010 og tilbyr tjenester knyttet til energi i bygg. Våre rådgivere har høy kompetanse innen et bredt fagfelt og kan bidra på mange områder i et prosjekt. Vi har kontor i Oslo, Hamar og Horten med store og små oppdragsgivere fra hele landet. Våre primære tjenester er energirådgivning/-kartlegging, tetthetskontroll og termografering. Vi gjør også mer avansert beregning og simulering av energibruk i nye og eksisterende bygg, samt energimerking. Vi kjennetegnes av profesjonalitet, fleksibilitet og løsningsvilje.</p>
            </div>

          </div>


          <div class="column">
            <input id="checkbox4_1_1" type="checkbox" checked=""><label for="checkbox4_1_1">
            <label>
            <div class="row">
              <div class="small-4 columns">
              <img src="//placehold.it/300x300" class="thumbnail" alt="">
              </div>
              <div class="small-8 columns">
                <h5>Firmanavn</h5>
              <p><strong>Leverer:</strong> <span class="label">Termografering og trykktesting</span> <span class="label">Energirådgivning</span></p>
              </div>
            </label>
            </div>

            <p><a class="button"  data-toggle="panel4">Mer om bedriften</a></p>

            <div class="callout" id="panel4" data-toggler data-animate="fade-in fade-out" style="display: none;">
              <h4>Firmanavn</h4>
              <p>Energibygg AS ble etablert i 2010 og tilbyr tjenester knyttet til energi i bygg. Våre rådgivere har høy kompetanse innen et bredt fagfelt og kan bidra på mange områder i et prosjekt. Vi har kontor i Oslo, Hamar og Horten med store og små oppdragsgivere fra hele landet. Våre primære tjenester er energirådgivning/-kartlegging, tetthetskontroll og termografering. Vi gjør også mer avansert beregning og simulering av energibruk i nye og eksisterende bygg, samt energimerking. Vi kjennetegnes av profesjonalitet, fleksibilitet og løsningsvilje.</p>
            </div>

          </div>

          <div class="column">
            <input id="checkbox4_1_2" type="checkbox" checked=""><label for="checkbox4_1_2">
            <label>
            <div class="row">
              <div class="small-4 columns">
              <img src="//placehold.it/300x300" class="thumbnail" alt="">
              </div>
              <div class="small-8 columns">
                <h5>Firmanavn</h5>
<p><strong>Leverer:</strong> <span class="label">Termografering og trykktesting</span> <span class="label">Energirådgivning</span></p>
              </div>
            </label>
            </div>

            <p><a class="button" data-toggle="panel5">Mer om bedriften</a></p>

            <div class="callout" id="panel5" data-toggler data-animate="fade-in fade-out" style="display: none;">
              <h4>Firmanavn</h4>
              <p>Energibygg AS ble etablert i 2010 og tilbyr tjenester knyttet til energi i bygg. Våre rådgivere har høy kompetanse innen et bredt fagfelt og kan bidra på mange områder i et prosjekt. Vi har kontor i Oslo, Hamar og Horten med store og små oppdragsgivere fra hele landet. Våre primære tjenester er energirådgivning/-kartlegging, tetthetskontroll og termografering. Vi gjør også mer avansert beregning og simulering av energibruk i nye og eksisterende bygg, samt energimerking. Vi kjennetegnes av profesjonalitet, fleksibilitet og løsningsvilje.</p>
            </div>

          </div>

          <div class="column">
            <input id="checkbox4_1_3" type="checkbox" checked=""><label for="checkbox4_1_3">
            <label>
            <div class="row">
              <div class="small-4 columns">
              <img src="//placehold.it/300x300" class="thumbnail" alt="">
              </div>
              <div class="small-8 columns">
                <h5>Firmanavn</h5>
<p><strong>Leverer:</strong> <span class="label">Termografering og trykktesting</span> <span class="label">Energirådgivning</span></p>
              </div>
            </label>
            </div>


            <p><a class="button" data-toggle="panel6">Mer om bedriften</a></p>

            <div class="callout" id="panel6" data-toggler data-animate="fade-in fade-out" style="display: none;">
              <h4>Firmanavn</h4>
              <p>Energibygg AS ble etablert i 2010 og tilbyr tjenester knyttet til energi i bygg. Våre rådgivere har høy kompetanse innen et bredt fagfelt og kan bidra på mange områder i et prosjekt. Vi har kontor i Oslo, Hamar og Horten med store og små oppdragsgivere fra hele landet. Våre primære tjenester er energirådgivning/-kartlegging, tetthetskontroll og termografering. Vi gjør også mer avansert beregning og simulering av energibruk i nye og eksisterende bygg, samt energimerking. Vi kjennetegnes av profesjonalitet, fleksibilitet og løsningsvilje.</p>
            </div>

          </div>

        </div>

        <a id="go_to_step_5" href="#showform" class="button">Legg til informasjon om deg »</a>
        <a id="go_to_step_3" class="button">« Tilbake</a>
        <br>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="75" aria-valuemin="0" aria-valuetext="75 percent" aria-valuemax="100">
          <div class="progress-meter" style="width: 75%">75%</div>
        </div>
      </div>


      <div class="" id="form_step_5">
        <h4>Og til slutt, litt om deg:</h4>

        <form data-abide>

        <div class="alert callout">
          <p>Eksempel på feilmelding når skjemafelter ikke er fylt ut.</p>
        </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Navn: <span style="color: red;">*</span></label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="middle-label" placeholder="" required>
              <span class="form-error">Du må fylle ut et navn.</span>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Adresse: <span style="color: red;">*</span></label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="middle-label" placeholder="" required>
              <span class="form-error">Du må fylle ut din adresse.</span>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Postnummer:</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="middle-label" placeholder="">
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Poststed:</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="middle-label" placeholder="">
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Navn:</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="middle-label" placeholder="">
            </div>
          </div>

          <h4>Kontakt meg på:</h4>

          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Telefon:</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="middle-label" placeholder="">
            </div>
          </div>


          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">E-post:</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="middle-label" placeholder="">
            </div>
          </div>
          <br>
          <input id="checkbox8_1_2" type="checkbox"><label for="checkbox8_1_2">Jeg aksepterer <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Evt. klikk og utvid vilkår">vilkårene.</span></label><br>

          <input id="checkbox9_1_2" type="checkbox"><label for="checkbox9_1_2">Jeg vil bli medlem i Naturvernforbundet (kun 200 første år).</span></label><br><br>


      <ul class="accordion" data-accordion role="tablist" style="margin-top: -1.6em; width: 90.2%;">
        <li class="accordion-item">
          <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d"><h4>Fortell meg mer om Naturvernforbundet</h4></a>
          <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
            <p>Tekst + bilder osv.</p>
          </div>
        </li>
      </ul>

        <a id="go_to_step_6" href="#showform" class="button">Send »</a>
        <a id="go_to_step_4" class="button">« Tilbake</a>
        <br>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="75" aria-valuemin="0" aria-valuetext="75 percent" aria-valuemax="100">
          <div class="progress-meter" style="width: 95%">95%</div>
        </div>
      </div>

      </form>

      <div class="" id="form_step_6">
        <h4>Takk for at du vil spare energi!</h4>

        <p>Du vil bli kontaktet av bedrifter og greier!</p>

        <h3>Disse bedriftene har fått din forespørsel:</h3>

        <div class="row small-up-1 medium-up-2 large-up-3">

          <div class="column">
            <div class="row">
              <div class="small-4 columns">
              <img src="//placehold.it/300x300" class="thumbnail" alt="">
              </div>
              <div class="small-8 columns">
                <h5>Firmanavn</h5>
                <p>Telefon: 815 49 300<br>E-post: <a href="#">post@kasse.no</a></p>
<p><strong>Leverer:</strong> <span class="label">Termografering og trykktesting</span> <span class="label">Energirådgivning</span></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="row">
              <div class="small-4 columns">
              <img src="//placehold.it/300x300" class="thumbnail" alt="">
              </div>
              <div class="small-8 columns">
                <h5>Firmanavn</h5>
                <p>Telefon: 815 49 300<br>E-post: <a href="#">post@kasse.no</a></p>
<p><strong>Leverer:</strong> <span class="label">Termografering og trykktesting</span> <span class="label">Energirådgivning</span></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="row">
              <div class="small-4 columns">
              <img src="//placehold.it/300x300" class="thumbnail" alt="">
              </div>
              <div class="small-8 columns">
                <h5>Firmanavn</h5>
                <p>Telefon: 815 49 300<br>E-post: <a href="#">post@kasse.no</a></p>
<p><strong>Leverer:</strong> <span class="label">Termografering og trykktesting</span> <span class="label">Energirådgivning</span></p>
              </div>
            </div>
          </div>
        </div>


        <br>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="75" aria-valuemin="0" aria-valuetext="100 percent" aria-valuemax="100">
          <div class="progress-meter" style="width: 100%">100%</div>
        </div>
      </div>


    </div>
    <div class="medium-3 columns">
      <div id="global-progress">
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
          <div class="progress-meter" style="width: 0%"></div>

            <span id="step_1" class="success label">Ditt postnummer</span><br>
          <span id="step_2" class="success label">Valgt tjeneste</span><br>
          <span id="step_3" class="success label">Informasjon om byggningen</span><br>
          <span id="step_4" class="success label">Valgt bedrifter</span><br>
          <span id="step_5" class="success label">Informasjon om deg</span><br>
          <span id="step_6" class="success label">Ferdig!</span><br>


        </div>
      </div>
      </div>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="medium-4 columns">
      <div class="morecontent">
        <img src="images/dev/testbilde001.jpg" alt="Testbilde" />
        <h3><a href="#">Vil du fjerne oljetanken?</a></h3>
        <a href="#" class="more">Finn ut mer</a>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="morecontent">
        <img src="images/dev/testbilde002.jpg" alt="Testbilde" />
        <h3><a href="#">Energisparetips</a></h3>
        <a href="#" class="more">Finn ut mer</a>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="morecontent">
        <img src="images/dev/testbilde003.jpg" alt="Testbilde" />
        <h3><a href="#">Spar penger på smarte tiltak</a></h3>
        <a href="#" class="more">Finn ut mer</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <a href="#" class="add_w_label"><img src="images/dev/testreklame001.jpg" alt="Testbilde" /></a>
    </div>
  </div>

  <div class="row small-up-1 medium-up-2 large-up-3">
    <div class="column">
      <article class="news-item">
        <a href="#"><img src="images/dev/testbilde004.jpg" alt="Testbilde" /></a>
        <div class="text">
          <h3><a href="#">Nyhetstittel test med flere linjers tittel</a></h3>
          <p class="meta">Publisert 10.05.2016 av <a href="#">Navn Navnesen</a></p>
          <p>Evt. ingress</p>
          <a href="#" class="label">Kategori</a>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="news-item">
        <a href="#"><img src="images/dev/testbilde005.jpg" alt="Testbilde" /></a>
        <div class="text">
          <h3><a href="#">Nyhetstittel</a></h3>
          <p class="meta">Publisert 10.05.2016 av <a href="#">Navn Navnesen</a></p>
          <p>Evt. ingress</p>
          <a href="#" class="label">Kategori</a>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="news-item">
        <a href="#"><img src="images/dev/testbilde006.jpg" alt="Testbilde" /></a>
        <div class="text">
          <h3><a href="#">Nyhetstittel</a></h3>
          <p class="meta">Publisert 10.05.2016 av <a href="#">Navn Navnesen</a></p>
          <p>Evt. ingress</p>
          <a href="#" class="label">Kategori</a>
        </div>
      </article>
    </div>
  </div>
  <p class="centered-link"><a href="#">Flere nyheter</a></p>

<br>
    </div>
  </div>




  <footer>
    <div class="partners">
      <div class="row">
        <div class="content-info">Støttespillere</div>
        <div class="large-12 columns">
          <div class="row small-up-2 medium-up-3 large-up-5">
            <div class="column">
              <div>
                <img src="images/dev/testlogo001.png" alt="">
            </div>
            </div>
            <div class="column">
              <div>
                <img src="images/dev/testlogo002.png" alt="">
            </div>
            </div>
            <div class="column">
              <div>
                <img src="images/dev/testlogo003.png" alt="">
            </div>
            </div>
            <div class="column">
              <div>
                <img src="images/dev/testlogo004.png" alt="">
            </div>
            </div>
            <div class="column">
              <div>
                <img src="images/dev/testlogo005.png" alt="">
            </div>
            </div>
            <div class="column">
              <div>
                <img src="images/dev/testlogo006.png" alt="">
            </div>
            </div>
            <div class="column">
              <div>
                <img src="images/dev/testlogo007.png" alt="">
            </div>
            </div>
            <div class="column">
              <div>
                <img src="images/dev/testlogo008.png" alt="">
            </div>
            </div>
            <div class="column">
              <div>
                <img src="images/dev/testlogo009.png" alt="">
            </div>
            </div>
            <div class="column">
              <div>
                <img src="images/dev/testlogo010.png" alt="">
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row info">
      <div class="medium-4 columns">
        <div class="logo naturvernforbundet"><img src="images/naturvernforbundet-logo-inv.svg" alt="Naturvernforbundet" /></div>
        <p>Mariboesgate 8, 0183 Oslo</p>
        <p>Tel:+47 23 10 96 10<br>Faks: 23 10 96 11</p>
        <p>E-post: <a href="#">naturvern@naturvernforbundet.no</a></p>
      </div>
      <div class="medium-8 columns">
        <div class="button-wrapper">
          <p><a class="button" href="#">Støtt naturvernforbundet</a></p>
          <p><a class="button" href="#">Bli medlem</a></p>
          <p><a class="button" href="#">Bli støttespiller</a></p>
        </div>
      </div>
    </div>
    <div class="cred"><a href="http://coretrek.no/cms/corepublish/webpublisering/">CorePublish publiseringsverktøy</a>
    | <a href="#">Design fra Blåis</a></div>
  </footer>

<!--
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    -->
  </body>
</html>
