.Page4 {
}

.Page4-header,
.Page4 .BottomButtons {
  margin: 0 1rem;
}
.Page4-providers-bg {
  background: #fbfafa;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #d1e4f2;
}
.Page4-providers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  padding: 5px 0 0 0;
}

.Page4-next-page-top {
  background-color: #3a3a3c;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 10px 10px;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;

  display: block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  opacity: 0;
}

.Page4-next-page-top-visible {
  opacity: 1;
  transition: 0.4s;
}

.Page4-selectall {
  text-align: right;
  margin: 5px;
}

@media screen and (max-width: 800px) {
  .Page4-providers-bg {
    border: none;
  }
  .Page4 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .Page4-providers {
    margin: 1rem 0;
  }
  .Page4-header,
  .Page4-selectall {
    text-align: center;
  }

  .Page4-selectall {
  }
}

@media screen and (max-width: 1024px) {
}
