.Page2-top {
  display: flex;
  justify-content: space-between;

  margin: 0 0 0.5rem 0;
  align-items: center;
}
.Page2-selectall {
  padding: 3px 1rem;
  font-size: 1.1em !important;
  background: rgba(159, 196, 222, 0.32);
  margin: 5px 0;
  display: block;
}
/*
.Page2-heading-providers {
  text-align: right;
}*/

.Page2-ServicesGroup {
  padding: 0 0 1.5rem 0;
}

.Page2-service-type {
  display: inline-block;
  width: 350px;
}

.Page2-service-type-label {
  width: 95%;
  padding: 4px;
  font-size: 1em;
  border-bottom: 1px solid #fff;
  margin-left: 0;
}
.Page2-service-type-bold .Page2-service-type-label {
  font-weight: bold;
  font-size: 1.1em;
}

.Page2-has-tip {
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 50%;
  border: 1px solid #dfdfdf;
  color: #ccc;
  cursor: help;
  display: inline-block;
  font-weight: bold;
  margin-left: 0.5rem;
  position: relative;
  text-align: center;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 13px;
}
.Page2-service-tip {
  width: 90%;
  padding: 0;
  font-size: 0.9em;
  margin: 6px 0 0 1.7rem;
}

.Page2-service-tip-close {
  border: 1px solid #fff;
  background: #fff;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  display: block;
  font-size: 0.8em;
  margin: 0.6rem 0 0 0;
  color: #494949;
}

.Page2-next {
  float: right;
}

.Page2-must-select {
  display: block;
  padding: 10px 0;
  font-size: 1.2rem;
  color: red;
  text-align: center;
}
/* todo: merge next as it is only in use for the top button... ; */
.Page2-button-next {
  background-color: #3a3a3c;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  border-top: 2px solid #1a1a1a;
  padding: 0.9em 1.2em 0.8em 1.2em;
  width: auto;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;

  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}
.Page2-button-next-top {
  font-size: 0.7em;
  border-top: 0;
  opacity: 0;
}
.Page2-button-next-top-visible {
  opacity: 1;
  transition: 0.4s;
}

@media only screen and (max-width: 767px) {
  .Page2-button-next-top {
    display: block;
    font-size: 0.8em;
    padding: 10px;
  }
  .Page2-selectall {
  }
  .Page2-top {
    display: block;
    text-align: center;
  }

  .Page2-selectall {
    padding: 5px 0rem;
    font-size: 1em !important;
    background: transparent;
    margin: 5px 0;
    display: block;
  }
}
