@media screen and (max-width: 1024px) {
  .qualityassuredform #form_step_3 form {
    width: 100%;
  }
  .Page3-label {
    text-align: left;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
  }
}
