.Provider {
  box-sizing: border-box;
  margin: 15px;
  x-height: 460px;
  width: calc(33.33% - 30px);
  min-width: 290px;
  max-width: 390px;
  flex: 1;
  background: #d1e4f2;
  display: flex;
  flex-direction: column;
}

.Provider-logo {
  width: 100%;
  height: 90px;
  margin: 0 0 0px 0;
  box-sizing: border-box;
  padding: 5px 10px 20px 10px;
  background: #fff;
  text-align: center;
  border: #d1e4f2 solid 1px;
  border-width: 1px 1px 0 1px;
}

.Provider-logo img {
  margin: 0;
  object-fit: cover;
  max-width: 100%;
  max-height: 80px;
}

.Provider-blurb {
  padding: 0;
  border: #d1e4f2 solid 1px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.Provider-description,
.Provider-services-heading,
.Provider-services {
  margin: 0 16px 8px 19px;
}

.Provider-description {
  color: #343434;
  font-size: 13px;
  overflow: auto;
  max-height: 200px;
  flex-grow: 5;
  line-height: 1.4;
}

.Provider-services-heading {
  font-weight: bold;
  font-size: 0.7rem;
  margin-bottom: 4px;
}
.Provider-services {
  flex-grow: 1;
}

.Provider-label {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  display: flex;
  align-items: middle;
  justify-content: top;
  x-font-size: 0.9rem;
  padding: 8px 8px 8px 19px;
  box-sizing: content-box;
  margin: 0 0 10px 0;
}
.Provider-label:hover,
.Provider-label-selected {
  background: #5983a3;
  color: #fff;
}

.Provider .Provider-label input[type='checkbox'] {
  margin: 6px 10px 0 0;
  vertical-align: top;
  height: 1rem;
}

.Provider-service {
  x-font-family: 'Oswald', sans-serif;

  font-weight: 400;

  background-color: #749ebe;
  color: #fff;
  padding: 0.5em 0.6em 0.4em 0.6em;

  margin: 0 5px 4px 0;
  display: inline-block;
  font-size: 0.8rem;
  line-height: 1;
  letter-spacing: 0.1px;
  white-space: nowrap;
  border-radius: 0;
}

@media screen and (max-width: 1030px) {
  .Provider {
    margin: 0 2px 1rem;
    width: auto;
    max-width: 48%%;
  }
}

@media screen and (max-width: 400px) {
  .Provider {
    flex-basis: 100%;
    margin: 0 2px 1rem;
    width: 100%;
    min-width: auto;
    max-width: none;
  }
}
