.SelectAllButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  width: auto;
  line-height: 26px;
  margin-top: 1rem;

  background-color: rgba(159, 196, 222, 0.32);
  border-top: 2px solid #98c0dc;
  color: #383838;
  padding: 0.7em 1em 0.7em 1em;
}

.SelectAllButton-selected {
  background: #98c0dc;
  color: #fff;
}

.SelectAllButton-selected input[type='checkbox']:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 9px;
  background: transparent;
  top: 6px;
  left: 4px;
  border: 4px solid #57aa16;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
